<header>

    <div class="cabezera">
        <div class="logo">
            <img src="./assets/APLogo.png"  alt="Logo ARG Programa">
        </div>

        <nav class="media">
            <a href="" class="nav-link">Inicio</a>
            <a href="" class="nav-link">Sobre Mi</a>
            <a href="" class="nav-link">Proyectos</a>
            <a href="" class="nav-link">Contacto</a>
        </nav>

    </div>
</header>

<div class="container" id="Inicio">
    <img src="i" alt="">
    <h1>Nicolas Mendoza</h1>
    <h2>Intento de desarrolador Web</h2>
</div>
